@font-face {
  font-family: "AG-Regular";
  src: url("AG-Regular.woff");
}

a {
  text-decoration: none;
}
h1{
  font-family: "AG-Regular", sans-serif;
  color: black;
  line-height: 1em;
  font-weight: normal;
  font-size: 6.5vw;
  margin: 0;
  text-transform: uppercase;
}
.row{
  border-bottom: 0.5vw solid black;
}
.row:hover {
  cursor: pointer; 
  cursor: hand;
}
.title {
  border-top: 0.5vw solid black;
}
.wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.empty {
  padding-top: 7%;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.marquee {
  width: 100%;
  overflow: hidden;
  padding:0;
}
.marquee h1 {
  position:relative;
  padding: 0;
  overflow:visible;
  white-space:nowrap;
}
#translate:hover {
  display: block;
  transition: all 0.3s ease;
  transform: translateX(1.95em);
}
#shrink:hover {
  width: 355%;
  transition: all 0.3s ease;
  transform: scale(0.8);
}
#name:hover {
  background-color: black;
}
@keyframes rotate {
  0% { transform: rotate(0deg) }
  33% { transform: rotate(0deg) }
  66% { transform: rotate(360deg) }
  100% { transform: rotate(360deg) }
}
.rotation:hover {
  animation: rotate 1s infinite;
}
@keyframes blink {  
  50% { opacity: 0; }
}
.blink-text:hover {
  animation: blink 1s linear infinite;
}
.hidden {
  visibility:hidden;
  margin-bottom: 0.5vw;
}
.row:hover .hidden {
  transition: all 0.3s ease;
  visibility:visible;
}
// .reposition {
//   padding-left: 5%;
// }