@font-face {
  font-family: "AG-Regular";
  src: url("AG-Regular.woff");
}
@font-face {
  font-family: "neue";
  src: url("neue.woff");
}
@font-face {
  font-family: "neueit";
  src: url("neueit.woff");
}
html{
  background-color: rgb(240,240,240);
}
body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
}
a {
  text-decoration: none;
  text-align-last: justify;
}
h1{
  font-family: "AG-Regular", sans-serif;
  color: black;
  line-height: 1em;
  font-weight: normal;
  font-size: 6.5vw;
  margin: 0;
  text-transform: uppercase;
}
.row{
  border-bottom: 0.5vw solid black;
}
.row h1:hover {
/*  font-style: italic;*/
  cursor: pointer; 
  cursor: hand;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding-top: 1.5%;
}
.container{
  width: 100%;
  margin: 0 auto;
}
.empty {
  padding-top: 7%;
}
.justify {
  text-align-last: justify;
}
.right {
  text-align: right;
}
.marquee {
  width: 100%;
  overflow: hidden;
  padding:0;
}
.marquee h1 {
  position:relative;
  padding: 0;
  overflow:visible;
  white-space:nowrap;
}